@import "tailwindcss";

.dashboardLinks {
  @apply h-full flex flex-col gap-2 p-5 bg-white/10 backdrop-blur-xl border border-white/20 rounded-2xl shadow-lg hover:shadow-2xl duration-300 ease-in-out;
}
